<mat-card>
    <mat-card-header>
        <mat-card-title>Confirmar Cancelación</mat-card-title>
        <mat-card-subtitle>Políticas de Cancelación</mat-card-subtitle>
    </mat-card-header> 

    <mat-list role="list" *ngIf="!(item['isQuote'] == 1 && item['isConfirmable'] == 0)">
        <mat-list-item role="listitem">
            <div class="container d-flex justify-content-between">
                <div class="text-primary"><b>Travel Window</b></div>
                <div style="font-size: smaller;">{{ xldPolicy['inicioTW'] }} a {{ xldPolicy['finTW'] }}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="container d-flex justify-content-between">
                <div class="text-primary"><b>Valor de la reserva</b></div>
                <div style="font-size: smaller;">{{ (_h.moneyFormat(item['monto']) + _h.moneyFormat(item['pkgItems']['totalValue']) + _h.moneyFormat(item['sg_montoTotal'])) | currency:'MXN':'symbol-narrow':'.2-2' }}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="container d-flex justify-content-between">
                <div class="text-primary"><b>Temporada</b></div>
                <div style="font-size: smaller;">{{ xldPolicy['hs'] == 1 ? 'Alta' : 'Baja' }}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="container d-flex justify-content-between">
                <div class="text-primary"><b>Tipo / Tiempo para cancelar</b></div>
                <div style="font-size: smaller;">{{ xldPolicy['isBusy'] == 1 ? 'Salida Anticipada / No Show' : 'Anticipado' }} / {{ xldPolicy['policyDays'] }} días</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <ng-container *ngIf="item['tipoPago'] != 'PH'">
            
            <mat-list-item role="listitem">
                <div class="container d-flex justify-content-between">
                    <div class="text-primary"><b>Monto Pagado</b></div>
                    <div style="font-size: smaller;">{{ (_h.moneyFormat(item['montoPagado']) + _h.moneyFormat(item['pkgItems']['totalPagado'])) | currency:'MXN':'symbol-narrow':'.2-2' }}</div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <ng-container *ngIf="xldPolicy['isBusy'] == 1">
                <mat-list-item role="listitem">
                    <div class="container d-flex justify-content-between">
                        <div class="text-primary"><b>Noches Dormidas</b></div>
                        <div style="font-size: smaller;">{{ xldPolicy['nochesDormidas'] }}</div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            <mat-list-item role="listitem">
                <div class="container d-flex justify-content-between">
                    <div class="text-primary"><b>Pen. Aplicable / Sugerida</b></div>
                    <div style="font-size: smaller;" class="text-danger"><b>{{ xldPolicy['penalidadTotal'] | currency:'MXN':'symbol-narrow':'.2-2' }} <span *ngIf="xldPolicy['isNights']==1">( {{ xldPolicy['penalty'] }} noches )</span></b> / {{ xldPolicy['penalidad'] | currency:'MXN':'symbol-narrow':'.2-2' }} <span *ngIf="xldPolicy['isNights']==1">( {{ xldPolicy['penalty'] + xldPolicy['nochesDormidas'] }} noches )</span></div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

        
            <mat-list-item role="listitem" style="height: 75px;">
                <div class="container d-flex justify-content-between">
                    <div class="text-primary" [ngClass]="{'text-danger': (item['penalidad'] < (item['xldType'] != 'reembolso' ? xldPolicy['minimumPenalty'] : item['omit10'] || penalidadTotal(item) > 0  ? 0 : xldPolicy['minimumPenalty'])) || item['penalidad'] > (_h.moneyFormat(item['montoPagado']))}">
                        <b>Penalidad Hospedaje</b>
                        <br>
                        <span style="font-size: smaller; color: black; font-weight: normal;">Rango: {{ (item['xldType'] != 'reembolso' ? 0 : item['omit10'] || penalidadTotal(item) > 0  ? 0 : ((_h.moneyFormat(item['montoPagado']))) * .1) | currency:'MXN':'symbol-narrow':'.2-2' }} ~ {{ ((_h.moneyFormat(item['montoPagado']) + _h.moneyFormat(item['montoEnValidacion']))) | currency:'MXN':'symbol-narrow':'.2-2' }}</span>
                    </div>
                    <div style="font-size: smaller;">
                        <mat-form-field class="penaltyInput">
                            <mat-label>Monto Manual de Penalidad</mat-label>
                            <span matPrefix>$ &nbsp;</span>
                            <input autocomplete="off" type="number" matInput [min]="(item['xldType'] != 'reembolso' ? 0 : item['omit10'] || penalidadTotal(item) > 0  ? 0 : ((_h.moneyFormat(item['montoPagado']))) * .1)" [max]="_h.moneyFormat(item['montoPagado'])" [(ngModel)]="item['penalidad']" #penaltyInput>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            
            <ng-container *ngIf="item['xldType'] == 'reembolso' && penalidadTotal(item) == 0 ">
                <mat-list-item role="listitem">
                    <div class="container d-flex justify-content-between">
                        <div class="text-primary"><b>Omitir 10% por gasto administrativo</b></div>
                        <div style="font-size: smaller;">
                            <mat-checkbox class="check-margin" [(ngModel)]="item['omit10']">Omitir</mat-checkbox>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </ng-container>

    </mat-list>
    <mat-list>
        <ng-container *ngIf="item['packs'].length > 0">
            <mat-list-item role="listitem" class="py-2" style="height: auto!important">
                <div class="container d-flex justify-content-between">
                    <div class="text-primary"><b>Servicios Incluidos a mantener</b><br>(penalidad aplicable)<br><small>Selecciona sólo si deseas mantener los servicios</small></div>
                    <!-- <div style="font-size: smaller;">
                        <div *ngFor="let incl of item['packs']">{{ incl['itemLocatorId'] }} - {{ incl['Servicio'] }} ({{ ( isToday ? (incl['montoPagado'] + incl['montoEnValidacion']) : 0 ) | currency:'MXN':'symbol-narrow':'.2-2' }})</div>
                    </div> -->
                    <mat-selection-list (selectionChange)="packsSelected($event)">
                        <mat-list-option [disabled]="incl['notCancellable']" [selected]="(incl['montoPagado'] + incl['montoEnValidacion']) != 0" *ngFor="let incl of item['packs']; index as iseg" [value]="iseg" style="font-size: smaller;">
                            {{ incl['keep'] ? '+' : '' }} {{ incl['itemNumber'] }} {{ incl['Servicio'] }} ({{ ( incl['keep'] ? (incl['montoPagado'] + incl['montoEnValidacion']) : 0 ) | currency:'MXN':'symbol-narrow':'.2-2' }})
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>

        <mat-list-item role="listitem" class="py-2" style="height: auto!important" color>
            <div class="container d-flex justify-content-between" style="background-color: brown;">
                <div style="color: white"><b>Penalidad Seleccionada</b><br><span style="font-size: smaller;">(Incluye hospedaje, seguros y paquetes)</span></div>
                <div style="color: white">
                    {{ penalidadTotal(item) | currency:'MXN':'symbol-narrow':'.2-2' }}
                </div>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem" class="py-2" style="height: auto!important" color>
            <div class="container d-flex justify-content-between" style="background-color: rgb(52, 165, 42);">
                <div style="color: white"><b>Monto a Devolver</b></div>
                <div style="color: white">
                    {{ montoReembolso(item) | currency:'MXN':'symbol-narrow':'.2-2' }}
                </div>
            </div>
        </mat-list-item>
        
        <ng-container *ngIf="montoReembolso(item) >= 0">
            <mat-list-item role="listitem">
                <div class="container d-flex justify-content-between">
                    <div class="text-primary"><b>Tipo de Operacion</b></div>
                    <div style="font-size: smaller;">
                        <mat-radio-group aria-label="Tipo de Operacion" [(ngModel)]="item['xldType']">
                            <mat-radio-button class="mx-2" value="traspaso">Traspaso</mat-radio-button>
                            <mat-radio-button value="reembolso">Reembolso</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
        <!-- <pre>{{ xldPolicy | json }}</pre> -->
 
    <mat-card-actions>
        <div class="container d-flex justify-content-end">
            <button mat-raised-button class="ms-2" (click)="onNoClick()" [disabled]="_api.isLoading | async">Cerrar</button>
            <button mat-raised-button class="ms-2" color="warn" (click)="sendCancellation()" [disabled]="((item['xldType'] == 'reembolso' && ((item['omit10'] || penalidadTotal(item) > 0) ? penalidadTotal(item) : ((_h.moneyFormat(item['montoPagado']))) * .1) > penalidadTotal(item))) || montoReembolso(item) < 0 || !(this.item['isQuote'] == 1 && this.item['isConfirmable'] == 0) && (!item['xldType'] || item['penalidad'] == null) || (_api.isLoading | async)">Aplicar Cancelacion</button>
        </div>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="buffer" *ngIf="_api.isLoading | async"></mat-progress-bar>
    </mat-card-footer>
</mat-card>