<div class="p-1 d-flex justify-content-start align-items-center" [style.width.%]="100">
    <button mat-icon-button color="light" (click)="menuClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="d-none d-sm-block ms-2">
        <button mat-raised-button color="accent" [routerLink]="['/cotizar']">Cotizar</button>
    </div>


    <!-- DIV END -->
    <div class="d-flex justify-content-end ms-auto align-items-center">
        <!-- SEARCH LOC -->
        <div class="p-1 mx-1">
            <app-go-to-loc></app-go-to-loc>
        </div>
    
        <!-- RROUND -->
        <div class="p-1 mx-1">
            <!-- <app-rrobin></app-rrobin> -->
        </div>
    
        <!-- SETTINGS -->
        <!-- <div class="p-1 mx-1">
            <button mat-icon-button data-toggle="modal"  data-target="#preferencesModal" *ngIf="token">
                <mat-icon>settings</mat-icon>
            </button>
        </div> -->

        <!-- ACCOUNT MENU -->
        <div class="p-1 mx-1">
            <button mat-icon-button color="accent"  (click)="loginDialog()" *ngIf="!token">
                <mat-icon>login</mat-icon>
            </button>

            <app-talk-widget *ngIf="_init.currentUser && _init.currentUser['hcInfo']['ccActive'] == 1"></app-talk-widget>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="token">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <div class="mx-2 text-center" *ngIf="token">
                    <h4>{{ _init.currentUser.hcInfo.Nombre_Corto }}</h4>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="configDialog()">
                    <mat-icon>settings</mat-icon>
                    <span>Configuración</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Salir</span>
                </button>
            </mat-menu>
        </div>
        
    </div>
</div>

