<div  mat-dialog-title>
    <h1>Reactivar items...</h1>
    <hr>
</div>

<div class="d-block" class="my-2" style="max-height: 75vh; overflow-y: auto;">

    <mat-selection-list [disabled]="_api.isLoading | async" #items>
        <mat-list-option [value]="i['itemId']" *ngFor="let i of expired">
            <div class="d-flex justify-content-start align-items-center flex-wrap text-mat-primary text-s" [matTooltip]="i['tipoServicio']" matTooltipPosition="above" [style.fontWeight]="500">
                <item-sum [i]="i"></item-sum>
            </div>
        </mat-list-option>
    </mat-selection-list>

    <div class="d-block" *ngIf="_api.isLoading | async"><mat-progress-bar mode="buffer"></mat-progress-bar></div>
</div>


<div class="d-block text-end" [style.width.vw]="25">
    <button mat-raised-button class="ms-2" color="primary" (click)="reactivate( items.selectedOptions.selected )" [disabled]=" (_api.isLoading | async) || items.selectedOptions.selected.length == 0 ">Reactivar</button>
    <button mat-raised-button class="ms-2" (click)="onNoClick()" [disabled]=" _api.isLoading | async">Cerrar</button>
</div>