<div class='loader-container' *ngIf="_api.isLoading | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-toolbar class='matNavbar' role="heading" [style.paddingBottom.px]="10" color="primary">

    <div class="p-1 d-flex justify-content-start align-items-center" [style.width.%]="100">
        
        <!-- DIV END -->
        <div class="d-flex justify-content-end ms-auto align-items-center">
            
            <div class="p-1 mx-1">
                
                <button mat-icon-button color="accent"  (click)="loginComercialDialog()" *ngIf="!token">
                    <mat-icon>login</mat-icon>
                </button>

                <button mat-icon-button color="accent"  (click)="logout()"  *ngIf="token" >
                    <mat-icon>logout</mat-icon>
                </button>

            </div>
            
        </div>
    </div>
</mat-toolbar>

<div class="main-container py-4">

    <router-outlet></router-outlet>
</div>