<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="p-0">
            <mat-selection-list #item [multiple]="false">
                <mat-list-option value="personales" (click)="display = 'personales'">
                    Datos Personales
                </mat-list-option>
                <!-- <mat-list-option value="timezone" (click)="display = 'timezone'">
                    Zona Horaria
                </mat-list-option> -->
                <mat-list-option value="password" (click)="display = 'password'">
                    Contraseña
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="p-1" [style.width.vw]="30">
            <div class="d-block" [style.width.%]="100">
                <mat-progress-bar mode="indeterminate" *ngIf="loading['loading']"></mat-progress-bar>
            </div>


            <!-- DATOS PERSONALES -->
            <div class="d-block text-center py-2" style="overflow: auto" *ngIf="display == 'personales'">
                <form [formGroup]="personales">
                    <div class="row d-block" [style.width.%]="90">
                        <div class="col-12" *ngFor="let c of personales.controls | keys">
                            <mat-form-field class="mx-1" appearance="outline" [style.width.%]="80" *ngIf="c != 'Fecha_Nacimiento'">
                                <mat-label>{{ c }}</mat-label>                         
                                <input matInput autocomplete="off" [formControlName]="c" autocomplete="off" [name]="c">
                                <mat-error *ngIf="personales.get(c).invalid">{{ getErrorMessage(c) }}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="mx-1 mb-2" appearance="outline" [style.width.%]="80" *ngIf="c == 'Fecha_Nacimiento'">
                                <input matInput readonly [matDatepicker]="fechaNacimiento" formControlName="Fecha_Nacimiento" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #fechaNacimiento disabled="false"></mat-datepicker>
                                <mat-error *ngIf="personales.get(c).invalid">{{ getErrorMessage(c) }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>

            <!-- PASSWORD -->
            <div class="d-block text-center py-2" style="overflow: auto" *ngIf="display == 'password'">
                <form [formGroup]="password">
                    <div class="row d-block" [style.width.%]="90">
                        <div class="col-12">
                            <mat-form-field class="mx-1" appearance="outline" [style.width.%]="80">
                                <mat-label>Contraseña Actual</mat-label>                         
                                <input matInput type="password" autocomplete="off" formControlName="old_password" autocomplete="off" name="old_password">
                                <mat-error *ngIf="password.get('old_password').invalid">{{ getErrorMessage('old_password', password) }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row d-block" [style.width.%]="90">
                        <div class="col-12">
                            <mat-form-field class="mx-1" appearance="outline" [style.width.%]="80">
                                <mat-label>Nueva Contraseña</mat-label>                         
                                <input matInput type="password" autocomplete="off" formControlName="new_password" autocomplete="off" name="new_password">
                                <mat-error *ngIf="password.get('new_password').invalid">{{ getErrorMessage('new_password', password) }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row d-block" [style.width.%]="90">
                        <div class="col-12">
                            <mat-form-field class="mx-1" appearance="outline" [style.width.%]="80">
                                <mat-label>Repetir Contraseña</mat-label>                         
                                <input matInput type="password" autocomplete="off" formControlName="repeat_password" autocomplete="off" name="repeat_password">
                                <mat-error *ngIf="password.get('repeat_password').invalid">{{ getErrorMessage('repeat_password', password) }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <!-- {{ item.selectedOptions.selected[0]?.value }} -->
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<div class="row">
    <div class="col-12">
        <div mat-dialog-actions class="d-flex justify-content-end flex-wrap">
            <button mat-button color="warn" (click)="onNoClick()" aria-label="Close" >Cerrar</button>
            <button mat-flat-button class="ms-2" color="primary" (click)="save( display )" [disabled]="!getFormValid(display)">Guardar</button>
            <!-- <button mat-button color="primary" (click)="logIn()"  [disabled]="loading['login'] || log.invalid">Buscar</button> -->
        </div>
    </div>
</div>