<mat-card>
    <mat-card-header>
        <mat-card-title>Complementos CIELO</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <ng-container *ngIf="data.length>0">

            <div class="container text-center d-flex justify-content-center">
                Se subirán {{ allRegs }} complementos
            </div>

            <div class="container d-flex justify-content-end">
                <button mat-raised-button color='primary' (click)="upload()"><span *ngIf="loading['uploading']"><i class="fas fa-spinner fa-pulse"></i></span><span *ngIf="!loading['uploading']">Subir</span></button>
            </div>

            <div class='mt-2 container d-flex justify-content-between' *ngIf="progress.length > 0">
                <div 
                    class="text-center"
                    [ngClass]="{'text-warning': p['s'] == 0, 'text-danger': p['s'] == 3, 'text-primary': p['s'] == 1, 'text-success': p['s'] == 2}"
                    *ngFor="let p of progress; index as i">
                    <p>{{ i + 1 }} de {{ progress.length }}</p>
                    <p>
                        {{ p['s'] == 0 ? 'Queued' : p['s'] == 1 ? 'Uploading...' : p['s'] == 2 ? 'Done!' : 'Error!!' }}  {{  p['s'] == 0 || p['s'] == 1 ? '' : '(' + p['r'] + ')' }}
                    </p>
                    <button mat-raised-button color='primary' (click)="submit(uploadArr,i)" *ngIf=" p['s'] == 3 && !loading['uploading']">
                        <span>
                            <i class="fas fa-spinner fa-pulse"></i>
                        </span>
                        <span *ngIf="!loading['uploading'] && p['s'] == 3">
                            Subir
                        </span>
                    </button>

                    <mat-progress-bar mode="indeterminate" *ngIf="p['s'] == 1"></mat-progress-bar>
                </div>
            </div>

        </ng-container>
    </mat-card-content>
</mat-card>
