<div style="max-height: 90vh">
    <app-zd-user-search></app-zd-user-search>
    
    <!-- ACTIONS -->
    <div class="row">
        <div class="col-12">
            <div mat-dialog-actions class="d-flex justify-content-end flex-wrap">
                <button mat-button color="warn" (click)="onNoClick()" aria-label="Close" >Cancelar</button>
                <!-- <button mat-button color="primary" (click)="logIn()"  [disabled]="loading['login'] || log.invalid">Buscar</button> -->
            </div>
        </div>
    </div>
</div>