<div class="container-fluid p-3">
    <div class="container">
    
        <mat-card>
            <mat-card-content *ngIf="!loading['link']">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div class="text-center">
                        {{ text[setLang]['advisory'] }}<br class="d-md-none">
                        <button mat-button color="primary" (click)="showTerms()">{{ text[setLang]['terms'] }}</button>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions *ngIf="!loading['link']">
                <div class="d-flex justify-content-around align-items-center">
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="idioma" aria-label="Selecciona tu idioma">
                            <mat-icon>language</mat-icon>
                          </button>
                          <mat-menu #idioma="matMenu">
                            <button mat-menu-item (click)="setLang = l['code']" *ngFor="let l of lang">
                              <span>{{ l['lang'] }}</span>
                            </button>
                          </mat-menu>
                    </div>
                    <div>
                        <mat-slide-toggle [(ngModel)]="acceptTerms" [disabled]="disableTerms">{{ text[setLang]['accept'] }}</mat-slide-toggle>
                    </div>
                </div>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" *ngIf="loading['link']"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    
    
        <mat-card class="mt-1" *ngIf="acceptTerms">
            <mat-card-content>
                <div class="d-flex justify-content-center">
                    <iframe (load)="loaded()" id="pagoLiga" title="Pago de Reserva Oasis Hotels &amp; Resorts" width="800" height="600" [src]="link | domseguro: '' " frameborder="0" #iframe></iframe>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
