<div class="container-fluid mt-4">

    <div class="'container-fluid d-flex justify-content-around">
        <button mat-raised-button color="primary" (click)="getPending()" [disabled]="_api.isLoading | async">Reload</button>
        <span>Quedan: {{ getPendCount() }} mls</span>
    </div>


    <div class="container-fluid mt-5 d-flex flex-wrap justify-content-between">
        <mat-card class="mb-3 mat-elevation-z5"  *ngFor="let ml of pendientes | keys">
            <mat-card-header style="width: 100%">
                <mat-card-title class="text-mat-primary d-flex justify-content-around"><button mat-flat-button (click)="avalonRegister( pendientes[ml][0], true )" color="accent">Export ML</button>Master: {{ ml }} </mat-card-title>
            </mat-card-header>
            <div class="container d-flex flex-wrap justify-content-around">
                <mat-card class="item mx-3 my-2 mat-elevation-z2" *ngFor="let i of pendientes[ml]">
                    <mat-card-header><mat-card-title class="text-mat-primary text-center">{{ i['itemLocatorId'] }}</mat-card-title></mat-card-header>
                    <mat-list>
                        <mat-list-item style="height: 40px!important">
                          <mat-icon mat-list-icon class="text-mat-primary">night_shelter</mat-icon>
                          <div mat-line><b>Hotel</b></div>
                          <div mat-line class="text-mat-primary"> {{ i['hotel'] }} </div>
                        </mat-list-item>
                        <mat-list-item style="height: 40px!important">
                          <mat-icon mat-list-icon class="text-mat-primary">cases</mat-icon>
                          <div mat-line><b>Grupo</b></div>
                          <div mat-line class="text-mat-primary"> {{ i['grupo'] }} </div>
                        </mat-list-item>
                        <mat-list-item style="height: 40px!important">
                          <mat-icon mat-list-icon class="text-mat-primary">event</mat-icon>
                          <div mat-line><b>Inicio</b></div>
                          <div mat-line class="text-mat-primary"> {{ i['inicio'] }} </div>
                        </mat-list-item>
                        <mat-list-item style="height: 40px!important">
                          <mat-icon mat-list-icon class="text-mat-primary">checklist_rtl</mat-icon>
                          <div mat-line class="text-mat-primary">
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip color="primary" selected *ngIf="i['tipo'] == 'New'">{{ i['tipo'] }}</mat-chip>
                                <mat-chip color="accent" selected *ngIf="i['tipo'] == 'Xld'">{{ i['tipo'] }}</mat-chip>
                                <mat-chip color="warn" selected *ngIf="i['tipo'] == 'Mod'">{{ i['tipo'] }}</mat-chip>
                                <mat-chip color="warn" *ngIf="i['tipo'] == 'Export'">{{ i['tipo'] }}</mat-chip>
                            </mat-chip-list>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <mat-card-footer>
                        <div class="container d-flex justify-content-end">
                            <button mat-flat-button color="primary" (click)="avalonRegister( i )">Export Item</button>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </div>
        </mat-card>
    </div>

</div>