.mat-icon {
    vertical-align: middle;
}

.rooms-headers-align .mat-expansion-panel-header-title,
.rooms-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.rooms-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.rooms-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

:host ::ng-deep .mat-checkbox-label {
    white-space: normal !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

:host ::ng-deep .mat-paquete {
  background-color: #15ab13;
  color: #fff;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 16px!important;
}

.text-mat-primary{
  color: #673ab7;
}

.upper{
  text-transform: uppercase;
}

.cart-container{
  border: solid 1px #f3f3f3;
  border-radius: 7px;
  background-color: white;
}