<mat-accordion>
    <ng-container *ngFor="let i of data['items']">

        <!-- ESCONDE SEGUROS CANCELADOS SI EL FLAG ESTA ACTIVADO -->
        <mat-expansion-panel class="my-2" style="background: #ebe6f640;" *ngIf="!((i['itemType'] == 10 || i['itemType'] == 15) && hideInsXld && i['isCancel'] == '1' && (i['montoPenalidad'] == 0))" [hideToggle]="true">

            <!-- RESUMEN CONTRAIDO -->
            <mat-expansion-panel-header class="p-0">

                <div class="row" style="width: 100%; margin-left: 1px;">
                    
                    <!-- LOCALIZADOR, ICONO Y DESCRIPCION -->
                    <div class="col-4 d-flex justify-content-start align-items-center flex-wrap text-mat-primary text-s" [matTooltip]="i['tipoServicio']" matTooltipPosition="above" [style.fontWeight]="500">
                        <item-sum [i]="i"></item-sum>
                    </div>

                    <!-- CONFIRMACION, STATUS DE RSVA Y PAGO SI NO ESTA CANCELADO -->
                    <ng-container *ngIf="i['isCancel'] == 0">

                        <div class="d-flex align-items-center flex-wrap justify-content-center col-2 mt-auto mb-auto text-center text-truncate p-0" [ngClass]="colorConfirm(i['confirm'], _h.isVigente(i['vigencia']), i['isQuote'] == 1)">
                            <div class='text-center'>

                                <!-- CONFIRMACION -->
                                <p style="font-size: smaller;">
                                    {{ i['isQuote'] == 1 && !_h.isVigente(i['vigencia']) ? 'Expirada' : i['confirm'] }}
                                </p>
                                <ng-container *ngIf="i['confirmOK'] != null && i['confirmOK'] != i['confirm']">
                                    <p style="font-size: xx-small; line-height: 8px;">({{ i['confirmOK'] }})</p>
                                </ng-container>

                                <!-- STATUS PAGO -->
                                <span [matTooltip]="'Confirmación: ' + i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-success" *ngIf="i['tipoPago'] == 'PT'">PT</span>
                                <span [matTooltip]="'Confirmación: ' + i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-secondary" *ngIf="i['tipoPago'] == 'OD'">OD</span>
                                <span [matTooltip]="'Confirmación: ' + i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-oldSec" *ngIf="i['tipoPago'] == 'PP'">PP</span>
                                <span [matTooltip]="'Confirmación: ' + i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-ph" *ngIf="i['tipoPago'] == 'PH'">PH</span>
                                <span [matTooltip]="'Confirmación: ' + i['confirm']" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-warning" *ngIf="i['tipoPago'] == 'PDT'">PDT</span>

                                <!-- STATUS CIELO -->
                                <span [ngSwitch]="i['cieloStatus'].toLowerCase()" [matTooltip]="'Status CIELO: ' + i['cieloStatus']" [matTooltipPosition]="'above'" *ngIf="i['itemType']==1">
                                    <span class="badge-status badge rounded-pill bg-danger" *ngSwitchCase="'c'">C</span>
                                    <span class="badge-status badge rounded-pill bg-warning" *ngSwitchCase="'n'">N</span>
                                    <span class="badge-status badge rounded-pill bg-success" *ngSwitchCase="'b'">B</span>
                                    <span class="badge-status badge rounded-pill bg-success" *ngSwitchCase="'s'">S</span>
                                    <span class="badge-status badge rounded-pill bg-matPrimary" *ngSwitchCase="'r'">R</span>
                                    <span class="badge-status badge rounded-pill bg-oldSec" *ngSwitchCase="'o'">O</span>
                                    <span class="badge-status badge rounded-pill bg-warning" *ngSwitchCase="'pdt'">PDT</span>
                                    <span class="badge-status badge rounded-pill bg-success" *ngSwitchDefault>D</span>
                                </span>
                                
                                <!-- Politica -->
                                <span matTooltip="Politica No Reembolsable" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-danger" *ngIf="i['itemType'] == 1 && i['isNR'] == 1">NR</span>
                                <span matTooltip="Polìtica Flexible" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-oldSec" *ngIf="i['itemType'] == 1 && i['isNR'] == 0">FLX</span>
                                
                                <!-- Bed Preference -->
                                <span [matTooltip]="'Preferencia de camas ' + ( i['bedPreference'] == 'Dobule Beds' ? 'Dobles' : 'King' )" [matTooltipPosition]="'above'" class="badge-status badge rounded-pill bg-beds" *ngIf="i['itemType'] == 1">
                                    {{ i['bedPreference'] == 'Double Beds' ? 'D' : 'K' }}
                                </span>

                            </div>


                        </div>

                        <!-- MONTO TOTAL -->
                        <div class="col-2 mt-auto mb-auto text-end">{{ i['monto'] | currency:'MXN':'symbol-narrow':'.2-2' }}</div>

                        <!-- MONTO PREPAGO -->
                        <div class="col-2 mt-auto mb-auto text-end">
                            <p class="text-success"><small>{{ i['montoPagado'] | currency:'MXN':'symbol-narrow':'.2-2' }}</small></p>
                            <p style="font-size: 10px" [ngClass]="'text-warning'" *ngIf="i['montoEnValidacion'] > 0">(validando: {{ (i['montoEnValidacion']) | currency:'MXN':'symbol-narrow':'.2-2' }})</p>
                            <p style="font-size: 10px" [ngClass]="{'text-danger': i['montoSaldoPrepago'] > 0, 'text-success': i['montoSaldoPrepago'] <= 0}">(saldo: {{ (i['montoSaldoPrepago']) | currency:'MXN':'symbol-narrow':'.2-2' }})</p>
                        </div>
                        <div class="col-2 mt-auto mb-auto text-end">
                            <p [ngClass]="{'text-primary': i['montoSaldoHotel'] > 0, 'text-success': i['montoSaldoHotel'] <= 0}"><b>{{ i['montoSaldoHotel'] | currency:'MXN':'symbol-narrow':'.2-2' }}</b></p>
                        </div>
                    </ng-container>

                    <!-- RESUMEN DE CANCELACION -->
                    <ng-container *ngIf="i['isCancel'] == 1">
                        <div class="col-8 mt-auto mb-auto text-center itemCancelled">
                            Item Cancelado conf. {{ i['confirmCancel'] ? i['confirmCancel'] : 'Pendiente' }}<br>
                            <b>Penalidad aplicada:</b> {{ i['montoPenalidad'] | currency:'MXN':'symbol-narrow':'.2-2' }} {{ i['moneda'] }}
                        </div>
                    </ng-container>
                </div>
            </mat-expansion-panel-header>

            <!-- ALERTAS DE COTIZACION -->
            <div style="font: small" class="alert py-1" [ngClass]="{'alert-danger': !_h.isVigente(i['vigencia']), 'alert-warning': _h.isVigente(i['vigencia'])}" role="alert" *ngIf="i['isQuote'] == 1">
                <span *ngIf="_h.isVigente(i['vigencia'])">Cotización expira el {{ _h.formatDate(i['vigencia'], 'DD MMM YYYY HH:mm', true) }} hrs</span>
                <span *ngIf="!_h.isVigente(i['vigencia'])">Cotización expirada. Venció el {{ _h.formatDate(i['vigencia'], 'DD MMM YYYY HH:mm', true) }} hrs</span>
            </div>

            <!-- ALERTAS CORTESIA -->
            <div style="font: small" class="alert alert-info py-1" role="alert" *ngIf="i['isFree'] == 1">
                Item marcado como cortesía, relacionado con reservas {{ i['cieloRelates'] }}
            </div>

            <!-- <app-edit-monto-parcial [i]="i" (openDates)="openOD(i)" (confSent)="getHistory(mlTicket)" (saveMonto)="saveMonto( $event )" (saveName)="saveName( $event )" (uplImg)="uplImg($event)"></app-edit-monto-parcial> -->
            
            <!-- INFO HOTELES -->
            <item-hoteles [i]="i" *ngIf="i['itemType'] == 1"></item-hoteles>

            <!-- NOTAS HOTELES -->
            <ng-container *ngIf="i['itemType'] == 1">
                <div class="container d-flex justify-content-end" *ngIf="i['itemType'] == 1">
                    <div class="me-auto"><span class="productConceptXL" [style.width.px]="390">Notas Cielo: </span><span class="clientInfo">{{ i['cieloNotas'] }}</span></div>
                </div>
                <div class="container d-flex justify-content-end" *ngIf="i['itemType'] == 1">
                    <div class="me-auto"><span class="productConceptXL" [style.width.px]="390">Notas Sugeridas: </span><span class="clientInfo">{{ i['notasSugeridas'] }}</span></div>
                </div>
                <div class="container" *ngIf="i['itemType'] == 1">
                    <div class="me-auto" *ngIf="i['noteEditFlagLoad']">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                    </div>
                    <div class="me-auto" *ngIf="!i['noteEditFlagLoad']"><span class="productConceptXL" [style.width.px]="390">Notas: </span>
                        <span class="clientInfo" *ngIf="!i['noteEditFlag']">{{ i['notas'] }}</span>
                        <span class="clientInfo" *ngIf="i['noteEditFlag']">
                            <mat-form-field appearance="legacy">
                                <mat-label>Notas Hotel</mat-label>
                                <input matInput [value]="i['notas']" placeholder="Placeholder" #notes>
                            </mat-form-field>
                            <button mat-icon-button color="warn" (click)="i['noteEditFlag'] = false" aria-label="edit notes button" *ngIf="i['noteEditFlag']">
                                <mat-icon style="zoom: 0.8">cancel</mat-icon>
                            </button>
                            <button mat-icon-button color="successButton" (click)="editNotes( i, notes.value )" aria-label="edit notes button" *ngIf="i['noteEditFlag']">
                                <mat-icon style="zoom: 0.8">check_circle</mat-icon>
                            </button>
                        </span>
                        <button mat-icon-button color="primary" (click)="i['noteEditFlag'] = true" aria-label="edit notes button" *ngIf="!i['noteEditFlag']">
                            <mat-icon style="zoom: 0.8">edit</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>

            <!-- NOTAS Y ACCIONES CUALQUIER ITEM -->
            <div class="container d-flex flex-wrap justify-content-end align-items-end">

                <!-- NOTAS -->
                <div class="me-auto">
                    <span class="productConceptXL" [style.width.px]="390">ItemId: </span><span class="clientInfo">{{ i['itemId'] }}</span><br>
                    <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                        (click)="showItemPayments(i)"
                        [disabled]=" _api.isLoading | async">
                        <mat-icon>payments</mat-icon>
                        &nbsp;Ver Pagos
                    </button>
                </div>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="accent"
                    (click)="checkAvalon(i)"
                    *ngIf="_init.checkSingleCredential('rsv_set_ph') &&  i['itemType'] == 1"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>currency_exchange</mat-icon>
                    &nbsp;Avalon
                </button>
                <!-- AVALON -->
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="setRounded(i)"
                    *ngIf="_init.checkSingleCredential('rsv_set_ph') &&  i['montoSaldoTotal']<=.02 && i['montoSaldoTotal']>0 && i['isCancel'] == 0 && i['isOpen'] == 0"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>currency_exchange</mat-icon>
                    &nbsp;Redondear
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="openOD(i)"
                    *ngIf="_init.checkSingleCredential('rsv_open_dates') && i['isQuote'] == 0 && i['isCancel'] == 0  && i['itemType'] == 1"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>meeting_room</mat-icon>
                    &nbsp;Fechas Abiertas
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="openODSet(i)"
                    *ngIf="_init.checkSingleCredential('rsv_open_dates') && i['isOpen'] == 1 && i['isCancel'] == 0 && i['isQuote'] == 0"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>beach_access</mat-icon>
                    &nbsp;Establecer Fechas
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="setNR(i, false)"
                    *ngIf="_init.checkSingleCredential('rsv_changes') && i['isCancel'] == 0 && i['itemType'] == 1 && i['isNR'] == 1"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>payment</mat-icon>
                    &nbsp;Set Flexible
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="danger"
                    (click)="setNR(i, true)"
                    *ngIf="_init.checkSingleCredential('rsv_changes') && i['isCancel'] == 0 && i['itemType'] == 1 && i['isNR'] == 0"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>credit_card_off</mat-icon>
                    &nbsp;Set NR
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="danger"
                    (click)="cancelItem(i)"
                    *ngIf="(_init.checkSingleCredential('app_cotizador') && i['itemType'] != '10') || (_init.checkSingleCredential('allmighty') || (i['itemType'] != '15' && i['pkgActive'] == '1')) || (_init.checkSingleCredential('allmighty') || i['isCancel'] == 0)"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>remove_circle</mat-icon>
                    &nbsp;Cancelar
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="setPH(i)"
                    *ngIf="_init.checkSingleCredential('rsv_set_ph') && i['montoPagado'] == 0 && i['montoEnValidacion'] == 0"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>payments</mat-icon>
                    &nbsp;Set PH
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="warn"
                    (click)="setPackage(i)"
                    *ngIf="_init.checkSingleCredential('allmighty') && i['itemType'] == '1' && i['montoEnValidacion'] == 0"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>payments</mat-icon>
                    &nbsp;Set Pack
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="manualInsEmit(i['itemLocatorId'])"
                    *ngIf="_init.checkSingleCredential('allmighty') && i['isQuote']==0 && i['confirmOK'] == null && (i['itemType']==10 || i['itemType']==15)"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>rocket_launch</mat-icon>
                    &nbsp;Emitir
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="success"
                    (click)="validateCert(i)"
                    *ngIf="_init.checkSingleCredential('rsv_validateCert') && i['grupo']=='CORT' && i['isQuote']==1"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>done_outline</mat-icon>
                    &nbsp;Validar Certificado
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="confirmItem(i)"
                    *ngIf="(i['isQuote'] == 0 || i['isConfirmable'] == 1) && i['confirmOK'] == null && i['isCancel'] == 0"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>done_outline</mat-icon>
                    &nbsp;Confirmar
                </button>
                
                <button class='ms-1 p-1' mat-button style="zoom: 0.8" color="primary"
                    (click)="resetConfirm(false,i)"
                    *ngIf="_init.checkSingleCredential('rsv_reset_confirm') && i['confirmOK'] != null  && i['itemType'] != '10' && i['itemType'] != '15' && i['itemType'] != '11'"
                    [disabled]=" _api.isLoading | async">
                    <mat-icon>delete_forever</mat-icon>
                    &nbsp;Reset Confirmación
                </button>
            </div>

        </mat-expansion-panel>
    </ng-container>
</mat-accordion>