

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 style="height: 230px; padding-top: 60px">Oops!</h1>
        </div>
        <h2>Localizador no encontrado</h2>
        <p>La reserva que buscas no se ha encontrado en nuestra base de datos.</p>
        <p><img width="32" src="assets/images/phone.svg"> +52 55 4170 9258 </p>
        <p><img width="32" src="assets/images/whatsapp.svg"> +52 99 8287 4478 </p>
        <p><img width="32" src="assets/images/mail.svg"> contact@oasishoteles.com </p>
    </div>
</div>

