.item-card {
    width: 440px;
    margin: 10px;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

:host ::ng-deep .mat-card:not([class*=mat-elevation-z]){
  box-shadow: 8px 10px 7px -1px rgb(0 0 0 / 30%), 0px 1px 15px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.card-cancel{
    background: burlywood;
}

.card-quote{
    background: khaki;
}
  
.assist-card{
  /* background-image: url('/../../../../assets/images/background/assistlogo.jfif'); */
  background-color: #b5424240;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: soft-light;
  /* font-size: initial;text-shadow: 2px 0 4px #fff, -2px 0 4px #fff, 0 2px 4px #fff, 0 -2px 4px #fff, 1px 1px #fff, -1px -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff; */
}