<mat-card class="item-card" [ngClass]="{'card-cancel': item['itemStatus'] == 'Cancelado' || item['itemStatus'] == 'Cotizacion Expirada', 'card-quote': item['itemStatus'] == 'Cotizacion'}">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon mat-list-icon>{{ item['icon'] }}</mat-icon>
        </div>
        <mat-card-title>{{ item['hotelName'] }}</mat-card-title>
        <mat-card-subtitle><span style="color: rgb(103, 58, 183)"><b>{{ item['itemLocatorId'] }}</b></span> || {{ _trl.trl('Habitacion') }}: {{ item['habName'] }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>

        <mat-grid-list cols="4" rowHeight="50px">
            
            <!-- TITULAR -->
            <mat-grid-tile colspan="3" rowspan="1">
                <div class="d-flex justify-content-start align-items-center" style="position: absolute; left: 0px">
                    <mat-icon>account_circle</mat-icon>
                    <div class="ms-1 d-inline-block  text-truncate">{{ item['huesped1'] }}</div>
                </div>
            </mat-grid-tile>
            
            <!-- CONFIRMACION -->
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="d-flex justify-content-between align-items-center" style="position: absolute; right: 0px">
                    <mat-icon>tag</mat-icon>
                    <div class="ms-1 d-inline-block  text-truncate text-center">
                        <ng-container [ngSwitch]="item['itemStatus']">
                            <ng-container *ngSwitchCase="'Confirmado'">
                            <ng-container *ngIf="item['confirm'] == 'Pendiente'">
                                <span class="text-info"><b>{{ _trl.trl('Pendiente') }}</b></span>
                            </ng-container>
                            <ng-container *ngIf="item['confirm'] != 'Pendiente'">
                                <span class="text-success"><b>{{ item['confirm'] }}</b></span>
                                <p class="m-0"><small><a href="" target="_blank">(Pre-check in)</a></small></p>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Cotizacion Expirada'">
                            <span class="text-danger"><b>{{ _trl.trl('Expirada') }}</b></span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Cotizacion'">
                            <span class="text-warning"><b>{{ _trl.trl('Cotizacion') }}</b></span>
                            <p class="m-0"><small><a href="" target="_blank">{{ _trl.trl('Pagar') }}</a></small></p>
                        </ng-container>
                            <ng-container *ngSwitchCase="'Cancelado'">
                                <span class="text-danger"><b>{{ _trl.trl('Cancelada') }}</b></span>
                                <p class="m-0 text-danger"><small>{{ ft(item['dtCancel']) }}</small></p>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </mat-grid-tile>
            
        </mat-grid-list>
        
        <mat-divider></mat-divider>
        <mat-grid-list class="mt-3" cols="4" rowHeight="50px">
            <!-- FECHAS RSVA -->
            <mat-grid-tile colspan="1" rowspan="1">
                <div [style.width.px]="90">
                    <div class="d-flex justify-content-end align-items-start">
                        <div class="me-auto" ><mat-icon>login</mat-icon></div>
                        <div><b><span class="ms-1">Llegada</span></b></div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div  class="me-auto" style="margin-top: -3px"><mat-icon>logout</mat-icon></div>
                        <div><b><span class="ms-1">Salida</span></b></div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div style="width: 100%">
                    <div class="ms-1" style="position: absolute; top: 0px;">{{ ft(item['llegada']) }}</div>
                    <div class="ms-1" style="position: absolute; bottom: 0px;">{{ ft(item['salida']) }}</div>
                </div>
            </mat-grid-tile>
            
            <!-- NOCHES Y OCUPACION -->
            <mat-grid-tile colspan="1" rowspan="1">
                <div>
                    <div class="d-flex justify-content-end align-items-start">
                        <div class="me-auto"><mat-icon>nights_stay</mat-icon></div>
                        <div><b><span class="ms-1">{{ _trl.trl('Noches') }}</span></b></div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div  class="me-auto" style="margin-top: -3px"><mat-icon>family_restroom</mat-icon></div>
                        <div><b><span class="ms-1">{{ _trl.trl('Huespedes') }}</span></b></div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="d-flex justify-content-end" style="min-width: 100px">
                    <div class="ms-1" style="position: absolute; top: 0px;">{{ item['htlNoches'] }}</div>
                    <div class="ms-1" style="position: absolute; bottom: 0px;">{{ item['adultos'] }} adlts<span *ngIf="num(item['juniors']) + num(item['menores']) > 0">, {{ num(item['juniors']) + num(item['menores']) }} mnrs</span></div>
                </div>
            </mat-grid-tile>
            
        </mat-grid-list>

        
        
    </mat-card-content>
    <mat-card-actions>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Click para expandir información
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                </mat-expansion-panel-header>
                <pre>{{ item | json }}</pre>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-actions>
</mat-card>