<form [formGroup]="opportunitySearch">
    <div class="container-fluid d-flex justify-content-center flex-wrap align-items-center">
        <!-- FECHA -->
        <mat-form-field class="mx-1 mb-2" appearance="outline" [style.width.px]="160">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="selDate" readonly [matDatepicker]="comerDp" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="comerDp"></mat-datepicker-toggle>
            <mat-datepicker #comerDp disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- Contacto -->
        <mat-form-field class="mx-1 mb-2" appearance="outline" [style.width.px]="160">
            <mat-label>Contacto</mat-label>
            <input matInput formControlName="contactoId" placeholder="correo de contacto">
        </mat-form-field>

        <!-- Tipo -->
        <mat-form-field class="mx-1 mb-2" appearance="outline" [style.width.px]="170">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" fname="tipo">
                <mat-option>Selecciona</mat-option>
                    <mat-option value="boda">Boda</mat-option>
                    <mat-option value="grupo">Grupo</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="mx-2">
            <button mat-raised-button class="ms-3" color="primary" (click)="searchOp()" [disabled]="opportunitySearch.invalid || loading['searchop']">Buscar</button>
            <button type="button" mat-raised-button class="ms-3" color="accent" (click)="createOp()" [disabled]="loading['searchop']">Crear</button>
        </div>
    </div>
</form>

<mat-accordion [style.width.%]="100" class="mat-elevation-z2 mb-2" *ngIf="opportunityForm.get('Nombre')">
    <mat-expansion-panel class="py-3" [expanded]="filterExpanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ opportunityForm.get('Nombre').value + ' ||  Inicio: ' + _h.formatDate((opportunityForm.get('FechaBoda') ? opportunityForm.get('FechaBoda').value : opportunityForm.get('FechaInicioEstancia').value), 'DD MMM YYYY') }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="opportunityForm">
            <div class="container d-flex flex-wrap justify-content-between">
    
                <ng-container *ngFor="let c of opportunityForm.controls | keys"> 
                    <ng-container *ngIf=" opCtrlProps[c] && opCtrlProps[c]['get']['shown'] ">
                        <div class="m-2" [ngSwitch]="opCtrlProps[c]['type']">
                            
                            <!-- INPUT TEXT -->
                            <ng-container *ngSwitchCase="'text'">
                                <mat-form-field appearance="outline"> 
                                    <mat-label>{{ opCtrlProps[c]['displayText'] }}</mat-label>
                                    <input matInput [formControlName]="c" [readonly]="opCtrlProps[c]['get']['readonly']" autocomplete="off">
                                    <mat-error *ngIf="opportunityForm.controls[c].invalid">Errores en este campo</mat-error>
                                </mat-form-field>
                            </ng-container>

                            <!-- INPUT NUMBER -->
                            <ng-container *ngSwitchCase="'number'">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ opCtrlProps[c]['displayText'] }}</mat-label>
                                    <input matInput type="number" [formControlName]="c" [readonly]="opCtrlProps[c]['get']['readonly']" autocomplete="off">
                                    <mat-error *ngIf="opportunityForm.controls[c].invalid">Errores en este campo</mat-error>
                                </mat-form-field>
                            </ng-container>

                            <!-- INPUT SELECT -->
                            <ng-container *ngSwitchCase="'select'">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ opCtrlProps[c]['displayText'] }}</mat-label>
                                    <mat-select [formControlName]="c" [disabled]="opCtrlProps[c]['get']['readonly']">
                                        <mat-option [value]="o['value']" *ngFor="let o of collections[opCtrlProps[c]['listName']]">{{ o['label'] }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="opportunityForm.controls[c].invalid">Errores en este campo</mat-error>
                                </mat-form-field>
                            </ng-container>

                            <!-- INPUT DATE -->
                            <ng-container *ngSwitchCase="'date'">
                                <mat-form-field class="mx-1 mb-2" appearance="outline" [style.width.px]="200">
                                    <mat-label>{{ opCtrlProps[c]['displayText'] }}</mat-label>
                                    <input matInput [formControlName]="c" readonly [matDatepicker]="dtf" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="dtf"></mat-datepicker-toggle>
                                    <mat-datepicker #dtf disabled="false"></mat-datepicker>
                                    <mat-error *ngIf="opportunityForm.controls[c].invalid">Errores en este campo</mat-error>
                                </mat-form-field>
                            </ng-container>


                        </div>
                    </ng-container>
                </ng-container>

                <div class="ms-auto" style="margin-top: 17px" *ngIf="opportunityForm.dirty">
                    <button mat-raised-button type="button" class="ms-3" color="paquete" (click)="updateOp()" [disabled]="opportunityForm.invalid || loading['updateOp']" >Guardar Cambios</button>
                </div>
    
            </div>

            
        </form>

    </mat-expansion-panel>
</mat-accordion>



<h2>LIST</h2>
<pre>{{ opportunities | json }}</pre>
<hr>
<h2>Selected</h2>
<pre>{{ opportunityForm.value | json }}</pre>