<form [formGroup]="rsvForm" (ngSubmit)="_validate.submitRsv()" #htmlForm ="ngForm">
    <div class="continer mx-auto row align-items-center" style="max-width: 100vw; height: 55vh; overflow: auto;" *ngIf="rsvData['habSelected']">
        <div class="col-xs-12 col-md-6 text-center">
            <ng-container  *ngIf="rsvForm.get('data')">
                <h2 class="mb-0"><b>{{ rsvForm.get('data.xfer.xfer.tourName').value }} ({{ rsvData.habSelected.summarySearch.grupo }})</b></h2>
                <h4 class="mb-1">Unidad: {{ rsvForm.get('data.xfer.xfer.name').value }}</h4>
                <mat-divider class="mb-2"></mat-divider>
                <div>
                    <div class="align-items-center">
                        <p><b>Titular: </b>{{ rsvData['formRsv']['zdUser']['name'] }} (<mat-icon>emoji_events</mat-icon>{{ rsvData['formRsv']['orLevel'] }})</p>
                    </div>
    
                </div>
                <mat-divider class="my-3"></mat-divider>
                <ng-container *ngIf="rsvForm.get('data.xfer.xfer').value">
                    <!-- LLEGADA -->
                    <div class="row">
                        <!-- <ng-container *ngIf="rsvData['habSelected']['traslado']['info']['llegada']"> -->
                            <div class="col-xs-12 col-md-2 text-end" >Llegada:</div>
                            <div class="col-xs-12 col-md-4 text-start">
                                <p><mat-icon>place</mat-icon>: {{ rsvForm.get('data.xfer.xfer.origin_text').value }}</p>
                                <p><mat-icon>event</mat-icon>: {{ rsvForm.get('data.xfer.xfer.llegada_date').value }}</p>
                                <p><mat-icon>schedule</mat-icon>: {{ rsvForm.get('data.xfer.xfer.llegada_hour').value }} hrs.</p>
                                <p><mat-icon>flight_land</mat-icon>: {{ rsvForm.get('data.xfer.xfer.llegada_flight').value }}</p>
                            </div>
                            <!-- </ng-container>
                                <ng-container *ngIf="rsvData['habSelected']['traslado']['info']['salida']"> -->
                            <div class="col-xs-12 col-md-2 text-end">Salida:</div>
                            <div class="col-xs-12 col-md-4 text-start">
                                <p><mat-icon>place</mat-icon>: {{ rsvForm.get('data.xfer.xfer.destination_text').value }}</p>
                                <p><mat-icon>event</mat-icon>: {{ rsvForm.get('data.xfer.xfer.salida_date').value }}</p>
                                <p><mat-icon>schedule</mat-icon>: {{ rsvForm.get('data.xfer.xfer.salida_hour').value }} hrs.</p>
                                <p><mat-icon>flight_land</mat-icon>: {{ rsvForm.get('data.xfer.xfer.salida_flight').value }}</p>
                                <p><mat-icon>airport_shuttle</mat-icon>: {{ rsvForm.get('data.xfer.xfer.salida_pickup').value }} hrs</p>
                            </div>
                            <div class="col-12 text-center">
                                <mat-icon>family_restroom</mat-icon>:&nbsp;
                                {{  rsvForm.get('data.xfer.xfer.adults').value }} adultos || 
                                {{  rsvForm.get('data.xfer.xfer.children').value }} niños || 
                                {{  rsvForm.get('data.xfer.xfer.babies').value }} bebés
                            </div>
                            

                    </div>
                </ng-container>
            </ng-container>
            <mat-divider class="mt-2"></mat-divider>
            <div class="row">
                <div class="col-12 text-center">
                    <app-validate-ticket (done)="doneEmit()" [(rsvForm)]="rsvForm" [item]="rsvForm" [user]="rsvData['formRsv']['isNew'] ? rsvData['userInfo']['user']['zdId'] : rsvData['userInfo']['masterloc']['zdUserId']"></app-validate-ticket>
                </div>
            </div>
            

        </div>
        <div class="p-1 col-xs-12 col-md-6 text-center" style="max-height: 49vh; overflow: auto;"  *ngIf="rsvForm.get('data')">

            <h2>Datos de los pasajeros</h2>

            <form [formGroup]="namesForm">
                <div class="container row">
                    <ng-container *ngFor="let p of namesForm.controls | keys">
                        <div class="col-xs-12 col-md-6" *ngIf="p != 'comments'">
                            <mat-form-field appearance="outline" class="d-block">
                                <mat-label>Nombre {{ p }}</mat-label>
                                <input matInput [formControlName]="p" autocomplete="off">
                                <mat-error *ngIf="namesForm.get(p).invalid">{{ getErrorMessage(p, namesForm) }}</mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
                <div class="container row">
                    <div class="col-12">
                        <mat-form-field appearance="outline" class="d-block">
                            <mat-label>Comentarios</mat-label>
                            <input matInput formControlName="comments" autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <form [formGroup]="rsvForm" formGroupName="data">
                <div class="container row" formGroupName="xfer">
                    <div class="col-12" formGroupName="xfer">
                        <mat-form-field appearance="outline" class="d-block">
                            <mat-label>Numero de Contacto</mat-label>
                            <input matInput formControlName="whatsapp_contact" autocomplete="off">
                            <mat-error *ngIf="rsvForm.get('data.xfer.xfer.whatsapp_contact').invalid">{{ getErrorMessage('data.xfer.xfer.whatsapp_contact') }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <hr>

            <p><b>Comentarios Automaticos: </b>{{ rsvForm.get('data.xfer.xfer.comments').value }}</p>

            </div>
            <div class="mt-2 col-12 text-center">
                <!-- {{ htmlForm | json }} -->
            </div>
            <div class="mt-2 col-12 text-center" *ngIf="htmlForm.submitted && rsvForm.invalid">
                <div class="d-block alert alert-danger" role="alert">
                    Existen errores en la información. Revisa cada habitación para encontrarlos. 
                    <button class="mx-auto" type="button" (click)="_validate.viewErrors()"  mat-button color="primary">Mas Detalles</button>    
                </div>
            </div>
            <div class="mt-2 col-12 text-center"  *ngIf="rsvForm.get('data')">
                <!-- <b>Total: 
                    {{ (( rsvData['habSelected']['summarySearch']['isUSD'] ? 1 : rsvData['habSelected']['hotel']['tipoCambio']) * rsvData['habSelected']['hotel']['habs']['total']['monto']['n' + rsvData['habSelected']['selectedLevel']]['monto'] + (rsvData['formRsv']['rsvInsurance'] ? 1 : 0) * ((rsvData['habSelected']['summarySearch']['isUSD'] ? 1 : rsvData['habSelected']['extraInfo']['seguros']['total'][rsvData['habSelected']['summarySearch']['nacionalidad']][rsvData['habSelected']['summarySearch']['cobertura']]['tipoCambio']) * rsvData['habSelected']['extraInfo']['seguros']['total'][rsvData['habSelected']['summarySearch']['nacionalidad']][rsvData['habSelected']['summarySearch']['cobertura']]['publico_ci'])) | currency:'USD':'symbol-narrow':'.2-2' }} <span class="d-none d-sm-inline">{{ rsvData['habSelected']['summarySearch']['isUSD'] ? 'USD' : 'MXN' }}</span>
                </b> -->
                <button class="mx-auto" type="submit" [style.width.%]="95" mat-flat-button color="primary" >Reservar por  {{ rsvForm.get('data.xfer.monto.monto').value | currency:'USD':'symbol-narrow':'.2-2' }} <span class="d-none d-sm-inline">{{ rsvForm.get('data.xfer.monto.moneda').value }}</span></button>
            </div>
        </div>
</form>

