<div class="container">

    <div class="container text-center">
        <h3>Búsqueda de usuarios de Zendesk</h3>
    </div>

    <mat-stepper #zdUserSearchStepper
        class="example-stepper"
        [selectedIndex]="step"
        [linear]="true"
        [orientation]="(stepperOrientation | async)!"
        (selectionChange)="stepChange( $event )">
        <mat-step [stepControl]="firstFormGroup" label="Campo de búsqueda">
            <form [formGroup]="firstFormGroup">
                <mat-form-field class="d-block mx-1 mb-2" appearance="outline">
                    <mat-label>Usuario / Ticket</mat-label>
                    <input matInput type="text" placeholder="Nombre, correo ticket" formControlName="inputVal">
                </mat-form-field>
                <div class="d-flex justify-content-between flex-wrap">
                    <mat-slide-toggle class="mx-1 mb-2" formControlName="byTicket">Desde Ticket</mat-slide-toggle>
                    <button mat-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Selecciona el usuario correcto">
            <form [formGroup]="secondFormGroup">
                <div style="max-height: 235px; overflow:auto">
                    <mat-progress-bar mode="indeterminate" *ngIf="loading['search']"></mat-progress-bar>
                    <!-- <pre>{{ usersFound | json }}</pre> -->
                    <div class="alert alert-warning text-wrap" role="alert" *ngIf="usersFound.length == 0 && !loading['search']">
                        No existen usuarios con este nombre / correo.
                    </div>
                    <ng-container *ngIf="usersFound.length > 0 && !loading['search']">
                        <label id="user-radio-group-label">Selecciona un usuario</label>
                        <mat-radio-group
                            aria-labelledby="user-radio-group-label"
                            class="user-radio-group"
                            formControlName="userSelected">
                            <mat-radio-button class="user-radio-button" *ngFor="let usr of usersFound" [value]="usr">
                                <mat-card>
                                    <mat-card-content>
                                        <div class="row">
                                            <div class="align-items-center col-xs-12 col-md-5 text-truncate">
                                                <span [matTooltip]="usr['name']" matTooltipPosition="above"><mat-icon color="primary">account_circle</mat-icon> {{ usr['name'] }}</span><br>
                                                <span [matTooltip]="usr['email']" matTooltipPosition="above"><mat-icon color="primary">mail</mat-icon> {{ usr['email'] }}</span>
                                            </div>
                                            <div class="align-items-center col-xs-12 col-md-4 text-truncate">
                                                <span [matTooltip]="usr['phone']" matTooltipPosition="above"><mat-icon color="primary">call</mat-icon> {{ usr['phone'] }}</span><br>
                                                <span [matTooltip]="usr['user_fields']['whatsapp']" matTooltipPosition="above"><mat-icon color="primary">whatsapp</mat-icon> {{ usr['user_fields']['whatsapp'] }}</span>
                                            </div>
                                            <div class="align-items-center col-xs-12 col-md-3 text-truncate">
                                                <span [matTooltip]="usr['user_fields']['idioma_cliente']" matTooltipPosition="above"><mat-icon color="primary">translate</mat-icon> {{ usr['user_fields']['idioma_cliente'] }}</span><br>
                                                <span [matTooltip]="usr['user_fields']['nacionalidad']" matTooltipPosition="above"><mat-icon color="primary">language</mat-icon> {{ usr['user_fields']['nacionalidad'] }}</span>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </mat-radio-button>
                        </mat-radio-group>
                    </ng-container>
                </div>
                <div class="d-flex justify-content-end  flex-wrap">
                    <button mat-flat-button class="me-auto" color="warn" (click)="create()">Crear</button>
                    <button mat-button color="warn" matStepperPrevious>Back</button>
                    <button mat-flat-button color="primary" [disabled]="secondFormGroup.invalid" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="Editar Usuario" [optional]="optionalEdit">
            <app-zd-user-edit
                [nextStep]="3"
                [prevStep]="1"
                [thisStep]="2"
                [backButton]="true"
                confirmButtonText="Next"
                (back)="goToStep($event)"
                (next)="goToStep($event)"
            >
            </app-zd-user-edit>
        </mat-step>
        <mat-step label="Comprobar y Seleccionar" #doneStep>
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="my-1 align-items-center col-xs-12 col-md-5 text-truncate">
                            <span [matTooltip]="userSelected['name']" matTooltipPosition="above"><mat-icon color="primary">account_circle</mat-icon> {{ userSelected['name'] }}</span>
                        </div>
                        <div class="my-1 align-items-center col-xs-12 col-md-4 text-truncate">
                            <span [matTooltip]="userSelected['phone']" matTooltipPosition="above"><mat-icon color="primary">call</mat-icon> {{ userSelected['phone'] }}</span>
                        </div>
                        <div class="my-1 align-items-center col-xs-12 col-md-3 text-truncate">
                            <span [matTooltip]="userSelected['idioma_cliente']" matTooltipPosition="above"><mat-icon color="primary">translate</mat-icon> {{ userSelected['idioma_cliente'] }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="my-1 align-items-center col-xs-12 col-md-5 text-truncate">
                            <span [matTooltip]="userSelected['email']" matTooltipPosition="above"><mat-icon color="primary">mail</mat-icon> {{ userSelected['email'] }}</span>
                        </div>
                        <div class="my-1 align-items-center col-xs-12 col-md-4 text-truncate">
                            <span [matTooltip]="userSelected['whatsapp']" matTooltipPosition="above"><mat-icon color="primary">whatsapp</mat-icon> {{ userSelected['whatsapp'] }}</span>
                        </div>
                        <div class="my-1 align-items-center col-xs-12 col-md-3 text-truncate">
                            <span [matTooltip]="userSelected['nacionalidad']" matTooltipPosition="above"><mat-icon color="primary">language</mat-icon> {{ userSelected['nacionalidad'] }}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="mt-2 d-flex justify-content-end flex-wrap">
                <button mat-flat-button class="me-auto" color="accent" (click)="edit()">Editar</button>
                <button mat-button color="warn" matStepperPrevious>Back</button>
                <button mat-flat-button color="primary" (click)="select()">Seleccionar</button>
            </div>
        </mat-step>
    </mat-stepper>

<!-- <div mat-dialog-actions class="d-flex justify-content-end flex-wrap">
    <button mat-flat-button class="ms-2" color="primary" aria-label="Close" >Buscar Usuario</button>
    <button mat-flat-button class="ms-2" color="primary" aria-label="Close" >Buscar por Ticket</button>
</div> -->


</div>