
.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-onenight {
    background-color: #2e24b3;
    color: #fff;
}

.mat-success {
    background-color: #33a933;
    color: #fff;
}

.mat-alert {
    background-color: #e2be0c;
    color: #fff;
}

.mat-beds {
    background-color: #0a93c7c4;
    color: #fff;
}

.mat-danger {
    background-color: #9c1414;
    color: #fff;
}

.mat-santander {
    background-color: #ef0a0a;
    color: #fff;
}

.mat-button.mat-danger {
    color: #9c1414;
    background-color: #fff0!important;
}

.mat-info {
    background-color: #34a3b5;
    color: #fff;
}

.mat-pdt {
    background-color: #72658c;
    color: #fff;
}

.mainFrame {
    -webkit-box-shadow: -4px 3px 16px 2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -4px 3px 16px 2px rgba(0, 0, 0, 0.65);
    box-shadow: -4px 3px 16px 2px rgba(0, 0, 0, 0.65);
    background: #f7f7f7;
}

.itemsFrame {
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.65);
    background: #d3dff7;
}

.locFrame {
    color: #673ab7;
    font-family: sans-serif;
    font-size: -webkit-xxx-large !important;
}

.rowItem {
    width: 760px;
}

.rowItemNoBorder {
    margin-left: .5rem!important;
    padding-left: 0!important;
}

.hrItems {
    margin-top: 3px;
    margin-bottom: 3px;
}

.clientFrame {
    padding: 15px;
    font-family: sans-serif;
    font-size: smaller;
}

.clientConcept {
    width: 80px;
}

.productConcept {
    width: 100px;
    color: rgb(95, 154, 243)
}

.productConceptXL {
    width: 190px;
    color: rgb(95, 154, 243)
}

.clientInfo {
    width: 175px;
    font-family: sans-serif;
    color: grey;
    font-size: 12px;
}

.itemCancelled {
    color: red;
    font-stretch: extra-expanded;
    font-style: italic;
    font-family: sans-serif;
}

.badge-status {
    width: 30px;
    margin-right: 1px;
    font-size: xx-small;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.text-mat-primary{
    color: #673ab7;
}

.bg-oldSec{
    background: #869ddd;
}

.bg-beds{
    background: #0a93c7c4;
}

.bg-ph{
    background: #0d6efd;
}

.bg-matPrimary{
    background: #673ab7;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 1px 10px;
}