/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
    background: #f44336;
    color: white;
}

.success-snackbar {
    background: #157613;
    color: white;
}

.alert-snackbar {
    background: #b0942e;
    color: white;
}

.swal-radio{
    display: grid!important
}

.swal2-radio label {
    margin: 5px .6em!important;
    font-size: 1.125em;
}
