<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sube archivos de Excel a la base de Datos</mat-card-title>
        </mat-card-header>
       <mat-card-content>
           <div class="container m-2 d-flex justify-content-center align-items-center">
                <mat-form-field appearance="outline" class="mx-2">
                    <mat-label>Tipo de Archivo</mat-label>
                    <mat-select [(value)]="selectedType">
                        <mat-option value="">Selecciona...</mat-option>
                        <mat-option value="cieloLlegadas">Llegadas Cielo</mat-option>
                        <mat-option value="complementos">Complementos Cielo</mat-option>
                        <mat-option value="desplazos">Desplazos Cielo</mat-option>
                        <mat-option value="loyaltyRB">Loyalty ORewards</mat-option>
                        <mat-option value="rsvasRb">Rsvas Roiback</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="mx-2">
                    <button mat-flat-button color="primary" (click)="swalUpload()">Seleccionar Archivo</button>
                </div>
           </div>
       </mat-card-content>

    </mat-card>
    <div class="container my-3">
        <app-upload-cielo *ngIf="selectedType=='cieloLlegadas'"></app-upload-cielo>
        <app-upload-loyalty *ngIf="selectedType=='loyaltyRB'"></app-upload-loyalty>
        <app-upload-complementos *ngIf="selectedType=='complementos'"></app-upload-complementos>
        <app-upload-desplazos *ngIf="selectedType=='desplazos'"></app-upload-desplazos>
        <app-upload-roiback *ngIf="selectedType=='rsvasRb'"></app-upload-roiback>
    </div>
</div>
 